body > .container {
    padding: 60px 15px 0;
}

.flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.bg-secondary a{
    color: #ccc;
}

.bg-secondary a:hover{
    color: #eee;
}

.bg-secondary {
    color: #eeeeee;
}

img.container {
    max-width: 100%;
}